<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{index.title}">Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
</head>
<body>
<div class="hero-unit">
<p th:text="#{dietForm.sample}">DUPA</p>
<h1>a na razie jest pedał</h1>
    <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash2/t31.0-8/965738_4359062713292_171104885_o.jpg" height="300" width="350"/>
</div>
</body>
</html>